/ant.build.artifacts
/dev_buildtools
/ivy.dependency.report
/build.local.properties
/build.d
/build
/install
/.vcpkg
/CMakeUserPresets.json
/staging.d
__pycache__/
/.vscode
venv
.venv
.DS_Store
*.local.md
examples/**/build/
examples/**/vcpkg_installed/
examples/**/CMakeUserPresets.json
