<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.WindowsAppSDK.ML" version="1.8.2141" targetFramework="native" developmentDependency="false" />
  <package id="Microsoft.WindowsAppSDK.Foundation" version="1.8.260222000" targetFramework="native" developmentDependency="false" />
</packages>
